[core]
	autocrlf = input
	safecrlf = true
	excludesfile = /home/tdings/.gitignore
	editor = emacs
[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
  type = cat-file -t
  dump = cat-file -p
[user]
	name = Tom Dings
	email = tom.dings@simplivity.com
[color]
	status = auto
	branch = auto
	interactive = auto
	diff = auto
[commit]
	template = /home/tdings/.git_message.txt
